@font-face {
  font-family: 'Science Gothic Optional';
  src: url('../fonts/ScienceGothicVF.ttf');
  font-display: optional;
}

@font-face {
  font-family: 'Science Gothic Fallback';
  src: url('../fonts/ScienceGothicVF.ttf');
  font-display: fallback;
}

@font-face {
  font-family: 'Science Gothic Swap';
  src: url('../fonts/ScienceGothicVF.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Science Gothic Block';
  src: url('../fonts/ScienceGothicVF.ttf');
  font-display: block;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100w;

  display: flex;
  justify-content: center;
  
  background: rebeccapurple;
  color: white;

  h1 {
    // font-family: 'Science Gothic';
    text-align: center;
    margin: 0;
    font-size: calc(1rem + .75vw);
    padding: 1rem;
    width: 25%;

    &.optional {
      font-family: 'Science Gothic Optional', none;
    }

    &.fallback {
      font-family: 'Science Gothic Fallback', none;
    }

    &.swap {
      font-family: 'Science Gothic Swap', none;
    }

    &.block {
      font-family: 'Science Gothic Block', none;
    }

    span {
      font-size: 1em;
      display: inline-block;
      margin: 1rem;
    }
  }
}